In [1]:
for j in range(4):

    for i in range(4):
       print( " # ", end="" )
    print()

 #  #  #  #
 #  #  #  #
 #  #  #  #
 #  #  #  #

In [7]:
for j in range (4):
    for i in range(4-j):
        print(" #",end="" )
    print()

 # # # #
 # # #
 # #
 #

In [21]:
nums=[12,15,18,21,26,20]
for i in nums:
    if i%5==0:
        print(i)

15
20

In [23]:
nums= [12,,18,21,26,5]
for i in nums:
    if i%5==0:
        print(i)

SyntaxError: invalid syntax (2174428652.py, line 1)

In [31]:
nums=[12,18,21,26,25,5]
for i in nums:
    if i%5==0:
        print(i)
        break
else:
    print("not found")

25

In [8]:
num =int(input(""))
for i in range(2,num):
    if num%i==0:
        print(" not prime",i)
        break
else:
    print("prime",i)

prime 10

In [57]:
num =int(input(""))
for i in range(2,num):
    if num%i!=0:
        print("  prime",i)
        
    else:
        print("not prime",i)

  prime 2
  prime 3
  prime 4
  prime 5
  prime 6
  prime 7
  prime 8
  prime 9
  prime 10

In [4]:
x=int(input(""))
for i in range (1, x+1):
    if x%i==0:
        print(i)
        
    if i == range(2):
      print ("no prime")

1
11

In [26]:
def test():
    pass

In [24]:
def test1():
    print(f"very first function")

In [25]:
test1()

very first function

In [40]:
def test2():
    return 'my nane is '

In [41]:
test2()

'my nane is '

In [42]:
b=test2()

In [43]:
b

'my nane is '

In [35]:
len(test2())

11

In [36]:
t=  return ("yash")

SyntaxError: 'return' outside function (1496080812.py, line 1)

In [62]:
def test3():
    for i in range (10):
        return i

In [63]:
test3()

0

In [55]:
for i in range(10):
    print( (i+1)*2)

2
4
6
8
10
12
14
16
18
20

In [64]:
def test4():
    return 1,3,1.3,[1,2,3,3],(5,2,8,)

In [66]:
test4()

(1, 3, 1.3, [1, 2, 3, 3], (5, 2, 8))

In [67]:
type(test4())

tuple

In [68]:
"yasg"+ " sah"

'yasg sah'

In [72]:
str(print("yash"))

yash

'None'

In [1]:
def test(a,b):
    return a+b

In [2]:
test(3,4)

7

In [16]:
ghghtgh=[1,2,3,3,3]
v=[5,5,5]
test(v,ghghtgh)

[5, 5, 5, 1, 2, 3, 3, 3]

In [19]:
test("dsfdsfdsfdsfd","fsdfsdfsfdf")

'dsfdsfdsfdsfdfsdfsdfsfdf'

In [20]:
def test5():
    a=4*5+8
    return a

In [23]:
test5()+8

36

In [46]:
l=[2,3,4,5,5,5,5]
a=0
for i in l:
    a=i+a
print(a)

29

In [47]:
def test7():
    l=[2,3,4,5,5,5,5,"sudh"]
    a=0
    for i in l:
        a=i+a
    return a

In [48]:
test7()

29

In [68]:
l=[2,3,4,5,5,5,5,"sudh"]
a=0
for i in l:
    if type(i)==int:
        a=i+a
print(a)

29

In [7]:
l=[2,3,4,5,5,5,5,"sudh",2.44]
a=0
for i in l:
    if type(i)==int or type(i)==float:
        a=i+a
       
print(a)

31.44

In [10]:
l=[2,3,4,5,5,5,5,"sudh",2.44]
def test8(l):
    a=0
    for i in l:
        if type(i)==int or type(i)==float:
            a=i+a
        
    return a

In [14]:
test8(l)

31.44

In [38]:
l=[2,3,4,5,5,5,5,"sudh",2.44]
def test9(l):
    a=0
    for i in l:
        if type(i)==int or type(i)==float:
            a=i+a
        
    return a

In [39]:
test9(l)

31.44

In [26]:
def test10(a,b):
    return a*b

In [27]:
a,b=12,11
test10(a,b)

132

In [79]:
l1=[1,2,3,4,"dfdfd",2.44,"gfggfg",1,2,2]
a=list()
for i in  l1:
    if type(i)==int:
        a=[i]+a
print(a)

[2, 2, 1, 4, 3, 2, 1]

In [80]:
l1=[1,2,3,4,"dfdfd",2.44,"gfggfg",1,2,2]
a=list()
for i in  l1:
    if type(i)==str:
        a=[i]+a
print(a)

['gfggfg', 'dfdfd']

In [83]:
l1=[1,2,3,4,"dfdfd",2.44,"gfggfg",1,2,2]
def test11(l1):
    a=list()
    for i in  l1:
        if type(i)==int:
            a=[i]+a
    return a

In [85]:
test11(l1)

[2, 2, 1, 4, 3, 2, 1]

In [92]:
l1=[1,2,3,4,"dfdfd",2.44,"gfggfg",1,2,2] 
l2=[]
for i in  l1:
    if type(i)==int:
            l2.append(i)
print(l2)

[1, 2, 3, 4, 1, 2, 2]

In [93]:
l1=[1,2,3,4,"dfdfd",2.44,"gfggfg",1,2,2] 
def test12(l1):
    l2=[]
    for i in  l1:
        if type(i)==int:
                l2.append(i)
    return l2

In [94]:
test12(l1)

[1, 2, 3, 4, 1, 2, 2]

In [ ]:
test12()

In [8]:
a=("yash")
b=0
for i in a:
    b=b+1
    
    
    print(i,b)

print(b)

y 1
a 2
s 3
h 4
4

In [19]:
a = [1,2,3,2,"kjlkl"]
b= -1
for i in a:
    b=b+1
    print(i, "index no", b)

1 index no 0
2 index no 1
3 index no 2
2 index no 3
kjlkl index no 4

In [118]:
a="ads"
len(a)

3

In [120]:
a=["dsdsd"]
range(a)

TypeError: 'list' object cannot be interpreted as an integer

In [127]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [129]:
a = [1,2,3,2,"kjlkl"]
type(a)

list

In [9]:
def test(s):
    count=0
    for i in s:
        count=count+1
    return count

In [10]:
test("yash")

4

In [57]:
def test2(a):
    b= -1
    for i in a:
        b=b+1
        print (i, "index no", b)

In [58]:
a=[1,2,3,2,"kjlkl"]
test2(a)

1 index no 0
2 index no 1
3 index no 2
2 index no 3
kjlkl index no 4

In [62]:

import ipaddress

In [64]:
print(ipaddress)

<module 'ipaddress' from 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.11_3.11.1008.0_x64__qbz5n2kfra8p0\\Lib\\ipaddress.py'>

In [65]:
import socket

In [67]:
socket.gethostbyname(socket.gethostname())

'192.168.1.11'

In [69]:
import socket
def test3():
    ip= socket.gethostbyname(socket.gethostname())
    return ip

In [70]:
test3()

'192.168.1.11'

In [79]:
l=[3.5,6.56,4,5,"hjhjhj"]
a=1
for i in l:
    if type(i)== int or type(i)==float:
        a=i*a
print(a)

459.19999999999993

In [80]:
l=[3.5,6.56,4,5,"hjhjhj"]
def test4(l):
    a=1
    for i in l:
        if type(i)== int or type(i)==float:
            a=i*a
    return a

In [86]:
test4(l)

459.19999999999993

In [87]:
int(test4(l))

459

In [90]:
a=docx2txt.process('')

NameError: name 'docx2txt' is not defined

In [91]:
def test(a,b):
    return a+b

In [92]:
test(2,3)

5

In [97]:
a=("1112","jh")

In [98]:
type(a)

tuple

In [99]:
def test3(*yash):
    return yash

In [100]:
test3(1.2,2,3,"jhjh")

(1.2, 2, 3, 'jhjh')

In [104]:
test3([1,2,34,4,"hfgf","yash sah"],"df",1,2)

([1, 2, 34, 4, 'hfgf', 'yash sah'], 'df', 1, 2)

In [105]:
def test4(*aegs):
    return list(aegs)

In [106]:
test4("adsd",2)

['adsd', 2]

In [124]:
def test5(*yash):
    a=list()
    for i in yash:
        a =a+[i]
    return a

In [126]:
test5(1,2,2,2,2,"sdsd")

[1, 2, 2, 2, 2, 'sdsd']

In [127]:
def test5(*yash):
    a=list()
    for i in yash:
        a.append(i)
    return a

In [128]:
test5(1,2,2,2,2,"sdsd")

[1, 2, 2, 2, 2, 'sdsd']

In [129]:
def test(*t):
    return [t]

In [134]:
test(1,1,1,1,'ensino')

[(1, 1, 1, 1, 'ensino')]

In [135]:
l=[1,2,3,4,5,66,5]
t=(1,2,2,3,3,4)
a=[(1,2,3,3,3,1)]

In [136]:
type(a)

list

In [137]:
s={1,2,3,1,2,3,1,2,3,2,2}

In [138]:
type(s)

set

In [139]:
s

{1, 2, 3}

In [141]:
d={}
type(d)

dict

In [143]:
d2={"key1":"yash", "key2" : [1,22,44,99]}

In [149]:
d2

{'key1': 'yash', 'key2': [1, 22, 44, 99]}

In [150]:
d3={2222 :"ysh"}

In [152]:
d3

{2222: 'ysh'}

In [153]:
d4={[1,2,3,5] : "fdsf|"}

TypeError: unhashable type: 'list'

In [154]:
d4={(1,2,3,5) : "fdsf|"}

In [155]:

d5 ={"name": 'yash', "org":"det", "mail id": "@gmail.com"}

In [156]:
d5

{'name': 'yash', 'org': 'det', 'mail id': '@gmail.com'}

In [161]:
d5["mail id"]

'@gmail.com'

In [164]:
list(d5.keys())

['name', 'org', 'mail id']

In [165]:
d5.values()

dict_values(['yash', 'det', '@gmail.com'])

In [173]:

d5.items()

dict_items([('name', 'yash'), ('org', 'det'), ('mail id', '@gmail.com')])

In [182]:
d6={"t" : 'asad' , "yash" : {"y": "op" , "a" : "po"}}

In [187]:
l=list()
for i in d6.keys():
    if type(d6[i])== dict:
        l=l+[d6[i].values()]
        print(l)

[dict_values(['op', 'po'])]

In [188]:
type(l)

list

In [189]:
def test3(**kwargs):
    return kwargs

In [195]:
test3(a=1,b=2,c=3,d=3)

{'a': 1, 'b': 2, 'c': 3, 'd': 3}

In [200]:
def test4(a):
    return a
def test5(b):
    return b
def test6(c):
    return c("yash")

In [201]:
test6(test4)

'yash'

In [202]:
test6(test5)

'yash'

In [217]:
def test4(a):
    return a
def test5(*a):
    return "yash1"
def test6(c):
    return c("yash")

In [218]:
test6(test5)

'yash1'

In [257]:
def test7(a):
    print("this is my test15")

    def test8():
        print("this is my test16")

    def test9():
        print("this is my test17")

    if a=="yash":
        return test8()
    elif a== "sah":
        return test9()

In [258]:
test7("sah")

this is my test15
this is my test17

In [ ]:
def test15(a):
    print("dsdsd")

    def test16():
        print("dsdsds")

    def test17():
        print("sds0")
    if a=="sudh":
        return test16()

In [305]:
def test1():
    return  "yes this"

In [313]:
test1()

'yes this'

In [314]:
@test1
def test2():
    print ("this also")

TypeError: test1() takes 0 positional arguments but 1 was given

In [315]:
test2()

this also

In [1]:
sqrt

NameError: name 'sqrt' is not defined

In [1]:
def test():
    a=4
    b=5
    return a+b

In [2]:
test()

9

In [5]:
def test1(a,b):
    c=a+b
    return c

In [14]:
test1(4,5)

9

In [17]:
c=test1(4,5)

In [18]:
c

9

In [19]:
print(c)

9

In [23]:
def test3(a,b):
    c=a+b
    d=a-b
    return c,d

In [25]:
f,g=test3(8,5)
print(f,g)

13 3

In [37]:
def test4(gfg):
    print(id(gfg))
    gfg[1]=8
    print(id(gfg))
    print ("x",gfg)

In [38]:
a=[1,20,11]
print(a)
print(id(a))

[1, 20, 11]
2376959628352

In [39]:
test4(a)

2376959628352
2376959628352
x [1, 8, 11]

In [54]:
def teat4(name,**p):
    print(name,p)
    
    for i,j in p.items():
        print(i,j)
        print(type(p))

In [55]:
teat4("yash", age=12, location='dwt' , no=85558)

yash {'age': 12, 'location': 'dwt', 'no': 85558}
age 12
<class 'dict'>
location dwt
<class 'dict'>
no 85558
<class 'dict'>

In [56]:
#keys , items, valuse  in function

In [65]:
a=10
def test4():
    global a
    a=9
    print(a)

In [66]:
a=10
test4()
print(a)

9
9

In [76]:
a=110
def test4():
    a=11
    x=globals()["a"]
    print(a)

In [77]:
test4()

11

In [78]:
a

110

In [1]:
a=[20,25,14,19,16,24,28,47,26]

In [19]:
def count(a):
    even=0
    odd=0
    for i in a:
        if i%2==0:
           even =even+1
        else:
            odd=odd+1
    return  even , odd

In [25]:
a=[20,25,14,19,16,24,28,47,26]
count(a)
print("even=" , even,", odd=", odd)

even= 6 , odd= 3

In [26]:
a="tasg"

In [27]:
len(a)

4

In [29]:
a=["asdsadasd","tt", "pyhon","sdsadsad" , "dsdsd" , "ssss", "sdasdasd", "asdasdsa"]

In [41]:
def test5(a):
    b=0
    for i in a:
        if len(i)>=5:
            b=b+1

            print(i)
    print(b)

In [42]:
test5(a)

asdsadasd
pyhon
sdsadsad
dsdsd
sdasdasd
asdasdsa
6

In [84]:
def test6(n):
    a=0
    b=1
    print(a)
    print(b)
    
    for i in range (2,n):
        c=a+b
        a=b
        b=c
        if c <=100:
            


        
            print(c)

In [85]:
test6(100)

0
1
1
2
3
5
8
13
21
34
55
89