In [6]:
a='9s8df!df5'
a.isalnum()

False

In [7]:
from datetime import datetime
def log_datetime(a):
    
    def wrapper():
        print(f'function:{a.__name__}\nrun on {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        a()
    return wrapper
@log_datetime
def dailt_backup():
    print("daily backup job is finished")

In [8]:
dailt_backup()

function:dailt_backup
run on 2023-05-05 11:34:27
------------------------------
daily backup job is finished

In [9]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
def test1(number_list):
    for i in number_list:
        if i<=50:
            return i

In [10]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
def test1(number_list):
    for i in number_list:
        if i<=50:
            print(i)

In [11]:
test1(number_list)

10
20
30
40
50

In [12]:
list(map(test1(number_list),number_list ))

10
20
30
40
50

TypeError: 'NoneType' object is not callable

In [ ]:
a=[1,2,2,2,1,1,1,1,3,3,3,5,5,5,5,4,4,4,4,4,4,8,8,8,9,9,9]
b=[]
for i in a:
    c=a.count(i)
    if c %2!=0:
        if i not in b:
            b=b+[i]
print(b)

[1, 2, 3, 8, 9]

In [ ]:
a="fdfdf"
a.count("f")

3

In [ ]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in list(number_list):
    if i>50:
        number_list.remove(i)
print(number_list)

[10, 20, 30, 40, 50]

In [ ]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
b=[]
for i in sample_list:
    if sample_list.count(i)>1:
        if i not in b:
            b.append(i)
print(b)

[20, 60, 30]

In [ ]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(len(number_list)-1,-1,-1):
    if number_list[i] > 50:
        del number_list[i]

print(number_list)

[10, 20, 30, 40, 50]

In [ ]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1]=3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [122]:
def test2(a,b):
    def inner(a,b):
        return a+b
    z=inner(a,b)
    return z+"developer"

In [124]:
test2("amma","kelly")

'ammakellydeveloper'

In [4]:
a=[10,20,30,40,50,60,70,80,90,100]
for i in list(a):
    if i>50:
        a.remove(i)
print(a)

[10, 20, 30, 40, 50]

In [14]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [15]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

In [ ]:
for i in range(0,11):
    a=0
    b=0
    a=a+i
    c=a+b
    a,b=(a+i),a
    
    print(c)

In [63]:
def test1(n):
    a=0
    b=0
    
    
    for i in range (0,n):
        a=b+i
        b=a-1
        c=a+b
        print(a ,b,c)

In [64]:
test1(10)

0 -1 -1
0 -1 -1
1 0 1
3 2 5
6 5 11
10 9 19
15 14 29
21 20 41
28 27 55
36 35 71

In [90]:
a=0
b=0
for i in range(0,10):
    a=i
    c=a+b
    a,b=b,a
    print(f"curent number {i} prviouse number {a} sum: {c}")

curent number 0 prviouse number 0 sum: 0
curent number 1 prviouse number 0 sum: 1
curent number 2 prviouse number 1 sum: 3
curent number 3 prviouse number 2 sum: 5
curent number 4 prviouse number 3 sum: 7
curent number 5 prviouse number 4 sum: 9
curent number 6 prviouse number 5 sum: 11
curent number 7 prviouse number 6 sum: 13
curent number 8 prviouse number 7 sum: 15
curent number 9 prviouse number 8 sum: 17

In [102]:
a="ineuron"
a=(a[0:10:2])
for i in a:
    print(f"{i},",end="")

i,e,r,n,

In [2]:
for i in range(1,11):
    for j in range(1,11):
        j=j*i
        print(f"{j}",end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

In [164]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
a=[]

for i in sample_list:
    if sample_list.count(i)==1:
        a.append(i)
print(tuple(a))
print("max",max(a))
print("min",min(a))

(87, 45, 65, 99)
max 99
min 45

In [159]:
tuple(a)

(87, 45, 65, 99)

In [174]:
c=lambda a:a+15 
print("addition=",c(5))
a= lambda x,y:x*y
print("multiplication=", a(10,20))

addition= 20
multiplication= 200

In [179]:
a=(2,3,6,9,8,74,5,2,1)
sorted(a)

[1, 2, 2, 3, 5, 6, 8, 9, 74]

In [191]:
a= lambda x : sorted(x)
l= [(2,'t',"fgdgfdgfg"),(9,'r',"gfgdfggfdgfdgfdgf",222222),(9,'y'),(1,'s')]
a(l)

[(1, 's'),
 (2, 't', 'fgdgfdgfg'),
 (9, 'r', 'gfgdfggfdgfdgfdgf', 222222),
 (9, 'y')]

In [ ]:
a= lambda x : sorted(x)

l= [(2,'t',"fgdgfdgfg"),(9,'r',"gfgdfggfdgfdgfdgf",222222),(9,'y'),(1,'s')]
a(l)

In [197]:
import datetime
now=datetime.datetime.now()
year=lambda x:x.year
month=lambda x:x.month
day= lambda x:x.day
time=lambda x:x.time
print("year",year(now))
print("month",month(now))
print("day",day(now))
print("time",time(now))

year 2023
month 5
day 5
time <built-in method time of datetime.datetime object at 0x000001B821D2B0F0>

In [5]:
l=["yashd","YASH","yashd","YASH"]
a=lambda a:a.upper()
b=lambda a:a.lower()

print(set(list(map(a,l))))
print(set(list(map(b,l))))

{'YASHD', 'YASH'}
{'yashd', 'yash'}

In [219]:
d=[1,2,3,4,5,6,1,2,3,1,2,3]
test1(d)

[4, 5, 6]

In [220]:
list(map(test1,d))

TypeError: 'int' object is not iterable

In [7]:
d=[1,2,3,4,5,6,1,2,3,1,2,3]
z=[]
for i in d:
    if d.count(i)==1:
        z.append(i)
print(z)

[4, 5, 6]

In [224]:
l=[1,2,3,6,5,4,7,8,9,6,3,2,1,4,5,8,7,5,2,3,6,4,1,2,3,4,1]
even=len(list(filter(lambda a:a%2==0,l)))
odd=len(list(filter(lambda a:a%2!=0,l)))
print("even number ", even)
print("oddd number ", odd)

even number  13
oddd number  14

In [228]:
a= lambda a:a**2
l=[2,4,5,6,1,3,8]
list(map(a,l))

[4, 16, 25, 36, 1, 9, 64]